<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				
				<!-- Un-comment out the config for Lucene or SOLR for your project  -->
				
				<!--<defaultLuceneIndexConfiguration>
					<indexDocumentPropertyMapper>
						<patch:attribute name="type">Fortis.Search.LuceneDocumentTypeMapper, Fortis</patch:attribute>

						<objectFactory>
							<patch:attribute name="type">Fortis.Search.DefaultDocumentMapperObjectFactory, Fortis</patch:attribute>
						</objectFactory>
						
					</indexDocumentPropertyMapper>
				</defaultLuceneIndexConfiguration>-->

				<!--<defaultSolrIndexConfiguration>
					<indexDocumentPropertyMapper>
						<patch:attribute name="type">Fortis.Search.SolrDocumentTypeMapper, Fortis</patch:attribute>

						<objectFactory>
							<patch:attribute name="type">Fortis.Search.DefaultDocumentMapperObjectFactory, Fortis</patch:attribute>
						</objectFactory>

					</indexDocumentPropertyMapper>
				</defaultSolrIndexConfiguration>-->
			</indexConfigurations>
		</contentSearch>
		
		
		<pipelines>
			<mvc.getModel>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.GetFromItem, Sitecore.Mvc']"
									 type="Fortis.Mvc.Pipelines.GetModel.GetFromView, Fortis.Mvc"/>
			</mvc.getModel>
		</pipelines>
	</sitecore>
</configuration>