<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultLuceneIndexConfiguration>
					<indexDocumentPropertyMapper>
						<patch:attribute name="type">Fortis.Search.LuceneDocumentTypeMapper, Fortis.Search.Lucene</patch:attribute>
						<objectFactory>
							<patch:attribute name="type">Fortis.Search.DefaultDocumentMapperObjectFactory, Fortis</patch:attribute>
						</objectFactory>
					</indexDocumentPropertyMapper>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="_isstandardvalues">Fortis.Search.ComputedFields.IsStandardValues, Fortis</field>
						<field fieldName="_templates">Fortis.Search.ComputedFields.InheritedTemplates, Fortis</field>
					</fields>
				</defaultLuceneIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>