<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<sitecore>
		<fortis>
			<fields>
				<typedFieldsConfiguration type="Fortis.Fields.TypedFieldsConfiguration, Fortis">
					<typedFields hint="raw:AddTypedField">
						<typedField fieldType="checkbox"					factoryName="BooleanFieldFactory" />
						<typedField fieldType="date"						factoryName="DateTimeFieldFactory" />
						<typedField fieldType="datetime"					factoryName="DateTimeFieldFactory" />
						<typedField fieldType="file"						factoryName="FileFieldFactory" />
						<typedField fieldType="image"						factoryName="ImageFieldFactory" />
						<typedField fieldType="integer"						factoryName="IntegerFieldFactory" />
						<typedField fieldType="multi-line text"				factoryName="TextFieldFactory" />
						<typedField fieldType="number"						factoryName="NumberFieldFactory" />
						<typedField fieldType="password"					factoryName="TextFieldFactory" />
						<typedField fieldType="rich text"					factoryName="TextFieldFactory" />
						<typedField fieldType="single-line text"			factoryName="TextFieldFactory" />
						<typedField fieldType="checklist"					factoryName="LinkListFieldFactory" />
						<typedField fieldType="droplist"					factoryName="TextFieldFactory" />
						<typedField fieldType="grouped droplink"			factoryName="LinkFieldFactory" />
						<typedField fieldType="grouped droplist"			factoryName="TextFieldFactory" />
						<typedField fieldType="multilist"					factoryName="LinkListFieldFactory" />
						<typedField fieldType="multilist with search"		factoryName="LinkListFieldFactory" />
						<typedField fieldType="name lookup value list"		factoryName="NameValueListFieldFactory" />
						<typedField fieldType="name value list"				factoryName="NameValueListFieldFactory" />
						<typedField fieldType="treelist"					factoryName="LinkListFieldFactory" />
						<typedField fieldType="treelistex"					factoryName="LinkListFieldFactory" />
						<typedField fieldType="droplink"					factoryName="LinkFieldFactory" />
						<typedField fieldType="droptree"					factoryName="LinkFieldFactory" />
						<typedField fieldType="general link"				factoryName="GeneralLinkFieldFactory" />
						<typedField fieldType="general link with search"	factoryName="GeneralLinkFieldFactory" />
					</typedFields>
				</typedFieldsConfiguration>
			</fields>
		</fortis>
	</sitecore>
</configuration>