<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<sitecore>
		<fortis>
			<templates>
				<modelConfiguration type="Fortis.Items.TemplateModelAssembliesConfiguration, Fortis">
					<models hint="raw:Add">
						<!--<model name="Fortis.Model"					assembly="Fortis.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
					</models>
				</modelConfiguration>
			</templates>
		</fortis>
	</sitecore>
</configuration>