<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<sitecore>
		<fortis>
			<models>
				<model name="Fortis.Model" assembley="Fortis.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
				<model name="Project.Model" assembley="Project.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</models>

			<fieldTypes>
				<field name="" type="" />
			</fieldTypes>

			<!--
				The configuration provider wires up how the configuration Fortis is running is parsed.
				The default provider reads values from this config section. 
				
				Credit to Kamsar https://github.com/kamsar for this method
			-->
			<configurationProvider type="Fortis.Configuration.XmlConfigurationProvider, Fortis"></configurationProvider>
		</fortis>
	</sitecore>
</configuration>