<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<fortis>
			<models>
				<!-- TODO: Add your model assembly binding(s) here -->
				<!--<model name="Fortis.Model" assembly="Fortis.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
			</models>

			<fieldTypes>
				<field name="checkbox" type="Fortis.Model.Fields.BooleanFieldWrapper, Fortis" />
				<field name="image" type="Fortis.Model.Fields.ImageFieldWrapper, Fortis" />
				<field name="date" type="Fortis.Model.Fields.DateTimeFieldWrapper, Fortis" />
				<field name="datetime" type="Fortis.Model.Fields.DateTimeFieldWrapper, Fortis" />
				<field name="checklist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelistex" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="multilist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="multilist with search" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelist with search" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="file" type="Fortis.Model.Fields.FileFieldWrapper, Fortis" />
				<field name="droplink" type="Fortis.Model.Fields.LinkFieldWrapper, Fortis" />
				<field name="droptree" type="Fortis.Model.Fields.LinkFieldWrapper, Fortis" />
				<field name="general link" type="Fortis.Model.Fields.GeneralLinkFieldWrapper, Fortis" />
				<field name="general link with search" type="Fortis.Model.Fields.GeneralLinkFieldWrapper, Fortis" />
				<field name="text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="single-line text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="multi-line text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="droplist" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="rich text" type="Fortis.Model.Fields.RichTextFieldWrapper, Fortis" />
				<field name="number" type="Fortis.Model.Fields.NumberFieldWrapper, Fortis" />
				<field name="integer" type="Fortis.Model.Fields.IntegerFieldWrapper, Fortis" />
				<field name="name value list" type="Fortis.Model.Fields.NameValueListFieldWrapper, Fortis" />
			</fieldTypes>

			<!--
				The configuration provider wires up how the configuration Fortis is running is parsed.
				The default provider reads values from this config section. 
				
				Credit to Kamsar https://github.com/kamsar for this method
			-->
			<configurationProvider type="Fortis.Configuration.XmlConfigurationProvider, Fortis"></configurationProvider>
		</fortis>
	</sitecore>
</configuration>