<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="sitecore" type="Sitecore.FakeDb.Configuration.ConfigReader, Sitecore.FakeDb" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
	</configSections>
	<appSettings>
		<add key="xunit.parallelizeTestCollections" value="false" />
	</appSettings>
	<sitecore>
		<settings>
			<setting name="LicenseFile" value="..\..\..\..\_Lib\License\license.xml" />
		</settings>
		<factories>
			<factory id="nsubstitute" type="Sitecore.FakeDb.NSubstitute.NSubstituteFactory, Sitecore.FakeDb.NSubstitute" />
		</factories>
		<!-- SERIALIZATION FOLDERS -->
		<szfolders>
			<folder name="core" value="..\..\Data\CoreSerialization\core\" />
			<folder name="master" value="..\..\Data\Serialization\master\" />
			<folder name="custom" value="..\..\Data\CustomSerialization\master\" />
		</szfolders>
		<pipelines>
			<loadDsDbItem>
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.DeserializeLinkedTemplate, Sitecore.FakeDb.Serialization" />
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.CopySharedFields, Sitecore.FakeDb.Serialization" />
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.CopyVersionedFields, Sitecore.FakeDb.Serialization" />
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.CopyParentId, Sitecore.FakeDb.Serialization" />
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.DeserializeDescendants, Sitecore.FakeDb.Serialization" />
			</loadDsDbItem>
			<loadDsDbTemplate>
				<processor type="Sitecore.FakeDb.Serialization.Pipelines.LoadTemplateFields, Sitecore.FakeDb.Serialization" />
			</loadDsDbTemplate>
		</pipelines>

		<fortis>
			<models>
				<model name="Fortis.Tests" assembly="Fortis.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</models>

			<fieldTypes>
				<field name="checkbox" type="Fortis.Model.Fields.BooleanFieldWrapper, Fortis" />
				<field name="image" type="Fortis.Model.Fields.ImageFieldWrapper, Fortis" />
				<field name="date" type="Fortis.Model.Fields.DateTimeFieldWrapper, Fortis" />
				<field name="datetime" type="Fortis.Model.Fields.DateTimeFieldWrapper, Fortis" />
				<field name="checklist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelistex" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="multilist" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="multilist with search" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="treelist with search" type="Fortis.Model.Fields.ListFieldWrapper, Fortis" />
				<field name="file" type="Fortis.Model.Fields.FileFieldWrapper, Fortis" />
				<field name="droplink" type="Fortis.Model.Fields.LinkFieldWrapper, Fortis" />
				<field name="droptree" type="Fortis.Model.Fields.LinkFieldWrapper, Fortis" />
				<field name="general link" type="Fortis.Model.Fields.GeneralLinkFieldWrapper, Fortis" />
				<field name="general link with search" type="Fortis.Model.Fields.GeneralLinkFieldWrapper, Fortis" />
				<field name="text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="single-line text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="multi-line text" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="droplist" type="Fortis.Model.Fields.TextFieldWrapper, Fortis" />
				<field name="rich text" type="Fortis.Model.Fields.RichTextFieldWrapper, Fortis" />
				<field name="number" type="Fortis.Model.Fields.NumberFieldWrapper, Fortis" />
				<field name="integer" type="Fortis.Model.Fields.IntegerFieldWrapper, Fortis" />
				<field name="name value list" type="Fortis.Model.Fields.NameValueListFieldWrapper, Fortis" />
			</fieldTypes>
			<configurationProvider type="Fortis.Configuration.XmlConfigurationProvider, Fortis"></configurationProvider>
		</fortis>

	</sitecore>
	<log4net />
	<system.web>
		<membership defaultProvider="fake">
			<providers>
				<clear />
				<add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb" />
			</providers>
		</membership>
		<roleManager defaultProvider="fake" enabled="true">
			<providers>
				<clear />
				<add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb" />
			</providers>
		</roleManager>
		<profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
			<providers>
				<clear />
				<add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb" />
			</providers>
			<properties>
				<clear />
				<add type="System.String" name="SC_UserData" />
			</properties>
		</profile>
	</system.web>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>