<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Fortis.Website.DI.FortisConfigurator, Fortis.Website" />
    </services>
    <domainManager>
      <domains>
        <domain id="fortis" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="fortis">fortis</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="habitat">fortis</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="habitat" patch:after="site[@name='modules_website']"
            targetHostName="fortis.$(rootHostName)"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/fortis"
            startItem="/Home"
            dictionaryPath="/sitecore/content/fortis/global/dictionary"
            dictionaryAutoCreate="false"
            domain="habitat"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
            enableItemLanguageFallback="true" />
    </sites>
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="fortis" />
      </setting>
    </settings>
  </sitecore>
</configuration>
