<?xml version="1.0" encoding="utf-8"?>
<!-- Default Sitecore 8.2 renderField pipeline -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.SetParameters, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.ExpandLinks, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetInternalLinkFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetMemoFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetDateFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetDocxFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetIntegerFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.GetNumberFieldValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.RenderField.RenderWebEditing, Sitecore.Kernel" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>