<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="fortis" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<fortis>
		<add key="assembly" value="Fortis.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</fortis>
</configuration>